<!-- student/detail_student.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Détails de l'Étudiant</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nom : {{ student.first_name }} {{ student.last_name }}</h5>
        <p class="card-text">Téléphone : {{ student.phone }}</p>
        <p class="card-text">Code de Parrainage : {{ student.code_parainage }}</p>
        <p class="card-text">Vendu : {% if student.sold %}Oui{% else %}Non{% endif %}</p>
        <p class="card-text">Nombre de Photos : {{ student.num_of_pic }}</p>
        <p class="card-text">Créé le : {{ student.created_at }}</p>
        {% if parrain %}
        <p class="card-text">Parrain : {{ parrain.first_name }} {{ parrain.last_name }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
